<h2>Ласкаво просимо до калькулятору продуктового кошику</h2>
<p>Розробник: <b>Куракіна Анастасія, студентка групи 121м-22-1</b></p>
<p>Метод валідації за варіантом 17: <b>Наявність букв, знаків пунктуації та знаків арифметичних операцій.</b></p>
<p>
  Калькулятор виконує розрахунок набору продуктів до
  продуктового кошику користувача  з урахуванням
  оптимального набору продуктів та їх вартості.
  Вибір продуктів виконується з урахуванням
  потреб харчування при <b>цукровому діабеті ІІ типу</b>,
  з підтримання необхідного балансу білків, жирів та вуглеводів.
</p>
<p>Натисніть на кнопку нижче для введення даних для розрахунку</p>
<div class="action-container">
  <mat-icon class="icon-display">arrow_downward</mat-icon>
  <button mat-raised-button
          color="accent"
          routerLink="/calculations">
    Розрахунок продуктового кошику
  </button>
</div>
<p>
 <span class="mat-error">Увага!</span> Калькулятор пропонує лише потенційно оптимальний набір продуктів.
  Проконсультуйтеся з лікарем, якщо маєте сумніви щодо можливості вживання певних продуктів.
</p>
