<form *ngIf="!optimizationInProgress; else optimizationLoader" [formGroup]="firstFormGroup">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="userForm" [editable]="isEditable">
      <ng-template matStepLabel>Дані користувача</ng-template>
      <h3 class="headline">Заповніть дані для розрахунку добового раціону калорій</h3>
      <div class="user-forms-blocks">
        <app-user-private-info [userForm]="userForm"></app-user-private-info>
        <app-user-work-info [userForm]="userWorkForm"></app-user-work-info>
      </div>
      <div class="stepper-buttons">
        <button matStepperNext
                mat-mini-fab
                color="warn"
                aria-label="Forward icon"
                [disabled]="userForm.invalid || userWorkForm.invalid">
          <mat-icon>forward</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="userWorkForm" [editable]="isEditable">
      <form [formGroup]="calculationsGroup">
        <ng-template matStepLabel>Напрямок дієти</ng-template>
        <app-diet-select-block [dietForm]="dietForm"
                               [diets]="diets"
                               [categories]="categories">
        </app-diet-select-block>
        <div class="stepper-buttons">
          <button mat-mini-fab
                  color="warn"
                  aria-label="Forward icon"
                  [disabled]="dietForm.invalid"
                  (click)="goForward(stepper)">
            <mat-icon>forward</mat-icon>
          </button>
          <button matStepperPrevious
                  mat-mini-fab
                  color="primary"
                  aria-label="Back icon">
            <mat-icon class="back-forward">forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="basketForm" [editable]="isEditable">
      <ng-template matStepLabel>Термін та вартість</ng-template>
      <app-basket-info [basketForm]="basketForm"></app-basket-info>
      <div class="stepper-buttons">
        <button matStepperNext
                mat-mini-fab
                color="warn"
                aria-label="Forward icon"
                [disabled]="basketForm.invalid">
          <mat-icon>forward</mat-icon>
        </button>
        <button matStepperPrevious
                mat-mini-fab
                color="primary"
                aria-label="Back icon">
          <mat-icon class="back-forward">forward</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step (interacted)="onDoneInteract()">
      <ng-template matStepLabel>Done</ng-template>
      <app-last-step [energyPerDay]="energyPerDay"
                     [userMIT]="userMIT"
                     [basketForm]="basketForm"
                     (optimizeProductsClick)="optimizeProductBasket()">
      </app-last-step>
    </mat-step>
  </mat-stepper>
</form>

<ng-template #optimizationLoader>
  <div class="loader-cover">
    <h3 class="mat-headline">Розраховуємо продуктовий кошик...</h3>
    <p>Средній час розрахунку 20-30 секунд</p>
    <app-optimization-process-loader></app-optimization-process-loader>
  </div>
</ng-template>
