<h1 mat-dialog-title>Підтвердження ідентичності</h1>
<div mat-dialog-content>
  <form [formGroup]="answersForm">
    <div *ngFor="let question of questions; let i = index"
              [formGroup]="answersFormArray.at(i) | formGroup">
      <p>{{ question.question}}</p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Відповідь</mat-label>
        <input formControlName="answer" matInput required class="example-right-align">
      </mat-form-field>
    </div>
  </form>

  <div class="buttons">
    <button class="add-button" mat-raised-button color="primary" (click)="sendResult()">Відповісти</button>
  </div>
</div>
