.fields {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  flex: 1;
  border: none;

  &.fields-full {
    max-width: calc(370px * 2 + 20px);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  .fields:first-child {
    width: 100%;
    margin-right: 20px;
  }

}

.radio-group-label {
  margin-bottom: 11px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-radio-button {
  padding-bottom: 1.34375em;
}

.work-type-table {
  padding-bottom: 1.34375em
}


.form-field {
  display: flex;
  label {
    margin-right: 20px;
  }
}
