<form *ngIf="!changed; else sussessMessage" [formGroup]="changePasswordForm" class="fields" (ngSubmit)="login()">
  <mat-error class="non-field-error" *ngIf="requestError">{{ requestError }}</mat-error>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Старий пароль</mat-label>
    <input formControlName="oldsPassword" matInput required type="password" name="password" autocomplete="false">
  </mat-form-field>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Новий пароль</mat-label>
    <input formControlName="password1" matInput required type="password" name="password" autocomplete="false">
  </mat-form-field>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Підтвердіть новий пароль</mat-label>
    <input formControlName="password2" matInput required type="password" name="password" autocomplete="false">
  </mat-form-field>
  <button mat-raised-button color="warn" [disabled]="changePasswordForm.invalid || loading">Змінити пароль</button>
</form>
<ng-template #sussessMessage>
  <div class="sussess-message">
    <h2>Пароль успішно змінено</h2>
    <button mat-raised-button color="primary" routerLink="/baskets">На головну</button>
  </div>
</ng-template>
