<h3 class="headline">На який термін та бюджет розраховувати?</h3>
<fieldset [formGroup]="basketForm" class="fields form-controls">
  <app-control-wrapper name="{{FA_ICONS.calendar}}">
    <mat-button-toggle-group formControlName="term" aria-label="Термін розрахунку" class="form-field" >
      <mat-button-toggle [value]="1">Доба</mat-button-toggle>
      <mat-button-toggle [value]="7">Тиждень</mat-button-toggle>
      <mat-button-toggle [value]="30">Місяць</mat-button-toggle>
    </mat-button-toggle-group>
  </app-control-wrapper>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Кількість діб</mat-label>
    <input formControlName="term" matInput required type="number" class="example-right-align" placeholder="1">
  </mat-form-field>
  <app-control-wrapper name="{{FA_ICONS.money}}">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Максимальний бюджет</mat-label>
      <input formControlName="maxSum" matInput required type="number" class="example-right-align" placeholder="0">
      <span matPrefix>₴&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
  </app-control-wrapper>
</fieldset>

