@use '../../../../../../../node_modules/@angular/material/index' as mat;

.fields {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  border: none;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.form-field-with-icon {
  display: flex;
  align-items: center;

  .fas {
    color: #53af82; // #69f0ae;
    margin-right: 10px;
  }

  mat-form-field {
    width: 100%;
  }
}


