/* You can add global styles to this file, and also import other style files */

@import "styles/reset";
@import "styles/features";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//.mat-form-field.mat-focused .mat-form-field-label {
//  color: lemonchiffon;
//}

app-control-wrapper {
  .mat-form-field {
    width: 100%;
  }
}

.ngx-charts-outer {
  width: 100% !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
b {
  font-weight: 500 !important;
}
