/* You can add global styles to this file, and also import other style files */

@import "styles/reset";
@import "styles/features";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field.mat-focused .mat-form-field-label {
  color: lemonchiffon;
}

app-control-wrapper {
  .mat-form-field {
    width: 100%;
  }
}


.pie-label {
  fill: lemonchiffon;
}

.chart-legend .legend-label:hover .active span {
  color: lemonchiffon !important;
}

.ngx-charts-outer {
  width: 100% !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
