<h1 mat-dialog-title>{{ action | titlecase }} продукт</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <p>Введіть дані для додавання нового подукту у список для проведення розрахунків</p>
    <mat-form-field class="full-with-control" appearance="fill" floatLabel="always">
      <mat-label>Назва продукту</mat-label>
      <input formControlName="name" matInput required>
    </mat-form-field>
    <div class="amount-row">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Вага / кількість продукту</mat-label>
        <input formControlName="price" matInput required type="number" class="example-right-align" placeholder="0">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Одиниця вимірювання</mat-label>
        <mat-select formControlName="unit" required>
          <mat-option *ngFor="let option of UNIT_OPTIONS" [value]="option.value">
            {{ option.label }} ({{option.value}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="full-with-control" appearance="fill" floatLabel="always">
      <mat-label>Вартість продукту</mat-label>
      <input formControlName="price" matInput required type="number" class="example-right-align" placeholder="0">
      <span matPrefix>₴&nbsp;</span>
    </mat-form-field>
  </form>
</div>
