.fields {
  display: flex;
  flex-direction: column;
  border: none;
}

.legend {
  margin-bottom: 20px;
}

.radio-group-label {
  margin-bottom: 11px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-radio-button {
  padding-bottom: 1.34375em;
}

.row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  .column {
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-right: 45px;
    }
  }
}
